registry=https://npm.flatt.tech/
# The fallback is the local token. The token is anonymous and not attached to account information.
# There are no sensitive operations possible even if it got leaked.
# The token is used to get a special quota for requests and to regenerate the token if needed.
//npm.flatt.tech/:_authToken=${TAKUMI_GUARD_AUTH_TOKEN}
